<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">GC App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav m-3">
        <% if current_user %>
        <li class="nav-item">
            <a class="nav-link" href="#">Signed in as <%= current_user.name %> </a>
        </li>
        <% if controller_name=='orders' %>
            <li class="nav-item">
            <a class="nav-link active" href="/orders/new">Create New Order</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="/orders">Orders History</a>
            </li>
        <% else %>
            <li class="nav-item">
            <a class="nav-link active" href="/adminorders/">Orders History</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="/adminorders/new">Monthly Report</a>
            </li>
        <% end %>
        <li class="nav-item">
            <%= link_to 'Logout', '/logout', :class=>"nav-link active" %>
        </li>
        <% else %>
        <li class="nav-item">
            <a class="nav-link <%= 'active' if controller_name=='sessions'%>" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= 'active' if controller_name=='users'%>" href="/signup">Signup</a>
        </li>
        <% end %>
        </ul>
    </div>
    </div>
</nav>
